flows.json
[{"id":"e10131f9.ffd3c","type":"tab","label":"Main screen","disabled":false,"info":""},{"id":"bf7351c3.b95ed","type":"ui_gauge","z":"e10131f9.ffd3c","name":"","group":"e138b185.4ac4c","order":1,"width":0,"height":0,"gtype":"wave","title":"Capacity","label":"%","format":"{{msg.payload}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":280,"wires":[]},{"id":"c8dad381.ee3c2","type":"ui_text","z":"e10131f9.ffd3c","group":"64eefd31.f05964","order":0,"width":0,"height":0,"name":"Introduction","label":"Thanks for trusting and buying our products. We wish you have an great enjoy with this machine.For more information please click on instruction tabs.","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":160,"wires":[]},{"id":"6e8a6d7c.1fec64","type":"addFirebase","z":"e10131f9.ffd3c","firebaseCertificate":"22c10e86.042692","client_email":"","private_key":"","data":"","childpath":"distance","propertyType":"str","method":"get","newchildpath":"","x":480,"y":380,"wires":[["fe2e07a9.ab4398","bf7351c3.b95ed"]]},{"id":"85e7160b.a8c9b8","type":"inject","z":"e10131f9.ffd3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":380,"wires":[["6e8a6d7c.1fec64"]]},{"id":"fe2e07a9.ab4398","type":"debug","z":"e10131f9.ffd3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":380,"wires":[]},{"id":"e138b185.4ac4c","type":"ui_group","name":"Status","tab":"5f39cf04.09e36","order":1,"disp":true,"width":"6","collapse":false},{"id":"64eefd31.f05964","type":"ui_group","name":"Greeting letter","tab":"25c1fb69.6b89d4","order":1,"disp":true,"width":"9","collapse":false},{"id":"22c10e86.042692","type":"firebaseCertificate","firebaseurl":"smartdustbin-a9022-default-rtdb","loginType":"jwt"},{"id":"5f39cf04.09e36","type":"ui_tab","name":"Status","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"25c1fb69.6b89d4","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]